:root {
    --white: #fed;
    --black: #321;
    --white-selected: #fbb;
    --black-selected: #633;

    --background: var(--white);
    --text:       var(--black);
    --border:     var(--black);

    @media (prefers-color-scheme: dark) {
        --background: var(--black);
        --text:       var(--white);
        --border:     var(--white);
    }
}

html {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

body {
    font: bold 22px "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";

    background-color: var(--background);
    color: var(--text);

    display: flex;
    flex-direction: column;

    width: min(100%, 600px);
    height: 100%;
    margin: 0;

    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    flex-grow: 1;

    & .board {
        width: 100%;
        padding-bottom: 100%;

        position: relative;

        border: 0.1em solid var(--border);
        box-sizing: border-box;

        & .tile {
            position: absolute;

            border: 0.1em solid var(--black);
            box-sizing: border-box;

            & img {
                border: none;
                width: 80%;
                height: 80%;
                margin: 10%;
            }

            &.white {
                background-color: var(--white);

                &.selected {
                    background-color: var(--white-selected);
                }
            }

            &.black {
                background-color: var(--black);

                &.selected {
                    background-color: var(--black-selected);
                }
            }
        }
    }
}
